<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://plist.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Redeye</string>
    <key>CFBundleIdentifier</key>
    <string>com.hrosenblume.redeye</string>
    <key>CFBundleExecutable</key>
    <string>Redeye</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>Redeye</string>
    <key>CFBundleShortVersionString</key>
    <string>1.6.2</string>
    <key>LSUIElement</key>
    <true/>
</dict>
</plist>
